/* styles.css */
.icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

#menu-icon {
    font-size: 24px;
    color: black;
}

.popup {
    position: fixed;
    top: 60px;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1001;
    width: 70%;  /* Adjust width as needed */
    height: 50%;
    text-align: center;
    align-items: center;
}

.popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup ul li {
    margin-bottom: 10px;
}

.popup ul li a {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.popup ul li a:hover {
    text-decoration: underline;
}
