<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <!-- Add any additional CSS or links here -->
</head>
<body>
<!-- Link to return to the homepage -->
<a href="/" class="homepage-link">Hookah's Art Space</a>

<div class="bg">
    <!-- Navigation Bar -->
    <div class="nav">
        <a href="/music">Music</a>
        <a href="/photography">Photography</a>
        <a href="/videography">Videography</a>
        <a href="/blog">Blog/Podcast</a>
        <a href="/about">About</a>
    </div>
    
    <!-- Page specific content goes here -->
    <div class="content">
        <!-- Content goes here -->
    </div>
</div>
<div class="large-blank-space"></div>
<!-- Social Media Links Section -->
<footer class="social-media-footer">
    <a href="https://github.com/hunthinniap" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/iap.hunthinn/" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/yuntianye/" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
</footer>

</body>
</html>
